body {
	padding-top: 5%;	
}

#footer {
	box-sizing: border-box;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	padding: 25px;
	margin-top: 80px;	
}

#footer div h5 {
	color: #fff;
}

.footer-motto {
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

#profile-pic-column {
	padding-left: 0;
}

#social-media {
	margin-top: 15%;
}

.panel-default > .panel-heading {
	background-color: #333;
	color: #fff;
}

.panel-default > .panel-body {
	padding: 12% 0 12% 0;
}
@media screen and (min-height: 990px) {

#footer {
		position: fixed;
		bottom: 0;
	}
}